.header-main{
 box-shadow: 2px 1px 6px rgb(0 0 0 / 10%);
}

.container-nav{
    display: flex;
    align-items: center;
}

.nav-item{
    list-style-type: none;
    margin: 10px;
}

.nav-link{
    text-decoration: none;
    font-family: "quicksand-regular";
    font-size: 18px;
    color: black;
}