@import './variables_scss/variables.scss'; 

.formulaire-insc{
    @include grid-lg;
    display: grid;
}

.title-form{
    grid-column: 1/ span 12;
    font-family: "quicksand-regular";
}

.first-div-insc{
    grid-column: 1/ span 3;
}

.second-div-insc{
    grid-column: 4 / span 3;
}

.third-div-insc{
    grid-column: 7 / span 3;
}

.fourth-div-insc{
    grid-column: 10 / span 3;
}

.final-div-insc{
    grid-column: 1 / span 12;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}